version: '3'

services:
  loki:
    build:
      context: ./
    volumes:
        - testWallet:/wallet
        - testBlockchain:/home/loki/.loki/lmdb
    entrypoint: ["lokid", "--p2p-bind-ip=0.0.0.0", "--p2p-bind-port=22022", "--rpc-bind-ip=0.0.0.0", "--rpc-bind-port=22023", "--non-interactive", "--confirm-external-bind", "--testnet"]

volumes:
  testWallet:
  testBlockchain:
