#!/bin/sh -e

. /usr/share/debconf/confmodule

db_capb escape

I="(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])"
IPREGEX="^$I\.$I\.$I\.$I$"

# Transition: check for a value set via the old package name, and if so copy it to the new name so
# that we don't re-prompt the user:
if db_get oxen-service-node/ip-address && [ -n "$RET" ]; then
    db_set session-service-node/ip-address "$RET"
    db_fset session-service-node/ip-address seen true
    db_reset oxen-service-node/ip-address
fi

while true; do
    # If the conf file already exists and there is already a public ip in it then don't ask: we'll
    # just leave whatever they have.
    if [ -e /etc/oxen/oxen.conf ] && grep -q '^service-node-public-ip=' /etc/oxen/oxen.conf; then
        break
    fi

    db_input high session-service-node/ip-address || true
    db_go
    db_get session-service-node/ip-address
    IP="$RET"

    if echo "$IP" | grep -qE "$IPREGEX"; then
        break
    elif [ "$IP" = "" ]; then
        errfile=$(mktemp)
        IP=$(curl -sS http://api.ipify.org || true)
        curl_error=$(cat $errfile)
        rm -f ${errfile}

        if echo "$IP" | grep -qE "$IPREGEX"; then
            db_set session-service-node/ip-address "$IP"
            db_subst session-service-node/confirm-ip-lookup IP "$IP"
            db_input high session-service-node/confirm-ip-lookup
            db_go
            db_get session-service-node/confirm-ip-lookup
            if [ "$RET" = "true" ]; then
                break
            fi
            db_reset session-service-node/ip-address
        else
            db_subst session-service-node/ip-lookup-failed REASON "${curl_error}"
            db_input high session-service-node/ip-lookup-failed
            db_go
            db_get session-service-node/ip-lookup-failed
            RETRY="$RET"
            db_reset session-service-node/ip-lookup-failed
            if [ "$RETRY" = "true" ]; then
                db_reset session-service-node/ip-address
            else
                break
            fi
        fi
    else
        db_input high session-service-node/invalid-ip
        db_go
        db_get session-service-node/invalid-ip
        RETRY="$RET"
        db_reset session-service-node/invalid-ip
        if [ "$RETRY" = "true" ]; then
            db_reset session-service-node/ip-address
        else
            break
        fi
    fi
done

while true; do
    # If there is already a l2-provider= or l2-oxend= then don't ask; we'll just leave whatever they
    # have in postinst.
    if [ -e /etc/oxen/oxen.conf ] && grep -q '^l2-\(oxend\|provider\)=' /etc/oxen/oxen.conf; then
        break
    fi

    db_get session-service-node/l2-provider
    WAS="$RET"
    db_input high session-service-node/l2-provider || true
    db_go
    db_get session-service-node/l2-provider
    L2="$RET"

    if [ -n "$WAS" ] && [ "$WAS" = "$L2" ]; then
        break
    fi

    case "$L2" in
        "l2-oxend="*)
            # do not checking if an l2-oxend is given, assume they know what they are doing.
	    break
            ;;
        "")
            # Empty string: confirm with them that they really don't want to add a provider right
            # now.
            db_input high session-service-node/no-l2-provider
            db_go
            db_get session-service-node/no-l2-provider
            RETRY="$RET"
            db_reset session-service-node/no-l2-provider
            if [ "$RETRY" != "true" ]; then
                break
            fi
            ;;
        *)
            # One or more space-separated URLs; we make a test request to them to make sure they
            # respond and to verify that they are serving Arbitrum One and prompt for confirmation
            # if they aren't.

            errors=$(mktemp)
            bad=
            for url in $L2; do
                outi=$(mktemp)
                erri=$(mktemp)
                if curl -sSX POST "$url" --connect-timeout 10 -H "Content-Type: application/json" -d '{"jsonrpc":"2.0","method":"eth_chainId","params":[],"id":1}' -o "$outi" 2>"$erri"; then
                    if grep '"0xa4b1"' "$outi" >/dev/null; then
                        echo "Found expected Arbitrum One chain id in L2 provider '$url'\n\n" >>"$errors"
                    else
                        bad=1
                        echo "'$url': Did not find expected Arbitrum One networkid \"0xa4b1\" in the L2 provider 'eth_chainId' response:\n-----" >>"$errors"
                        cat "$outi" >>"$errors"
                        echo "-----\nThis RPC provider may be on the wrong network\n\n" >>"$errors"
                    fi
                else
                    echo "'$url': request failed:\n-----" >>"$errors"
                    cat "$erri" >>"$errors"
                    echo "-----\n\n" >>"$errors"
                    bad=1
                fi
                rm -f "$outi" "$erri"
            done

            if [ -n "$bad" ]; then
                db_subst session-service-node/bad-l2-provider ERROR "$(debconf-escape -e <$errors)"
                rm -f "$errors"

                db_input high session-service-node/bad-l2-provider
                db_go
                db_get session-service-node/bad-l2-provider
                RETRY="$RET"
                db_reset session-service-node/bad-l2-provider
                if [ "$RETRY" != "true" ]; then
                    break
                fi
            else
                rm -f "$errors"
                break
            fi
            ;;
    esac
done
